<?xml version="1.0" encoding="utf-8"?>
<!--
*** Web site for testing the transforms:
*** https://webconfigtransformationtester.apphb.com/
-->
<configuration>

  <appSettings>
    <!-- This is automatically replaced by the contents of Web.Release.config when publishing to Azure -->
    <add key="ConferenceSystemName" value="FBLA (*TESTING*)" />

    <add key="MaxEventsPerStudent" value="4" />
    <add key="MaxPerfEventsPerStudent" value="3" />
    <add key="MaxParticipantsPerPerfEvent" value="15" />
    <add key="MaxTeamsPerChapter" value="15" />
    <add key="SchedTimeBlockSize" value="3" />
    <add key="SchedMultiStationFactor" value="45" />
    <!--<add key="SchedSortOrder" value="EvtStations desc,NumTests desc,EventType desc,TimeBlock desc" />-->
    <add key="SchedSortOrder" value="EventType desc" />

<!-- *** Invoices are no longer being generated as PDF files as of 3/1/2013 
    <add key="wkhtmltopdf" value="C:\\Program Files (x86)\\wkhtmltopdf\\wkhtmltopdf.exe" />

         *** Email functionality is not currently being used ~~~ SendGrid is a possibility
    <add key="SMTPServerHostname" value="smtp.sample.com" />
    <add key="SMTPServerPort" value="25" />
    <add key="SMTPServerUseSSL" value="false" />
    <add key="SMTPServerUseCredentials" value="true" />
    <add key="SMTPServerUsername" value="username" />
    <add key="SMTPServerPassword" value="password" />
    <add key="SMTPServerFromAddress" value="user@sample.com" />
    -->
  </appSettings>

  <connectionStrings>
    <!-- This is automatically replaced by the contents of Web.Release.config when publishing to Azure -->
      <add name="ConfDB" providerName="System.Data.SqlClient" connectionString="data source=.\SQLEXPRESS;user id=fbla;password=fcs-pass1;Initial Catalog=fcsdb" />
    <!--
    <add
      name="ConfDB" providerName="System.Data.SqlClient"
      connectionString="Server=tcp:v6i8lhp4ck.database.windows.net,1433;Database=FBLAConferenceDb;User ID=fbla@v6i8lhp4ck;Password=fcs-pass1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    -->
  </connectionStrings>

  <location path="Maint-Tests.aspx">
    <system.web>
      <!-- I don't remember what this is for or exactly why it was necessary to do... -->
      <httpRuntime requestValidationMode="2.0" executionTimeout="600" />
    </system.web>
  </location>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <!--<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
      </assemblies>
    </compilation>
    <sessionState timeout="60" cookieless="false" mode="InProc" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>