<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ConferenceSystemName" value="FBLA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <!-- dmfabritius@hotmail.com Azure account
         connectionString="Server=tcp:v6i8lhp4ck.database.windows.net,1433;Database=FBLAConferenceDb;User ID=fbla@v6i8lhp4ck;Password=fcs-pass1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
         connectionString="Server=tcp:wa56doh7uc.database.windows.net,1433;Database=fcsdb;User ID=fbla@wa56doh7uc;Password=fcs-pass1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
  -->
  
  <connectionStrings>
    <add name="ConfDB"
         connectionString="data source=.\SQLEXPRESS;user id=fbla;password=fcs-pass1;Initial Catalog=fcsdb"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!-- Windows Azure Cache session state provider -->
    <!--
          This is too expensive and the 'backup cookie' is probably good enough
    
    <sessionState mode="Custom" customProvider="AFCacheSessionStateProvider" xdt:Transform="Replace">
      <providers>
        <add name="AFCacheSessionStateProvider"
             type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache"
             cacheName="default"
             dataCacheClientName="default"
             applicationName="AFCacheSessionState"/>
      </providers>
    </sessionState>
    -->
  </system.web>

</configuration>